<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Add new User</title>
    <link rel="stylesheet" href="\new.css">
</head>
<body>
    <h1>Add new User</h1>
    <form action="/user/new" method="post">
        Enter Id :<input type="text" name="id" placeholder="Enter id">
        <br>
        <br>
        Enter Email :<input type="email" name="email" placeholder="Enter email">
        <br>
        <br>
        Enter Username : <input type="text" name="username" placeholder="Username">
        <br>
        <br>
        Enter password : <input type="password" name="password" placeholder="Enter Password">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>